<title>Editar | Stage</title>
<div class="col-md-10 col-md-offset-1">
  <div class="new-play-form">
    <h1>Editar Artista</h1>

    <%= simple_form_for @play, url: plays_path do |f| %>
      <%= f.file_field :image, as: :file %>
      <%= f.select :category_id, @categories %>
      <%= f.input :title , label: "Nome da banda/artista"%>
      <%= f.input :age , label: "Idade"%>
      <%= f.input :description, label: "Descrição" %>
      <%= f.input :intruments_play , label: "Instrumentos que toca"%>
      <%= f.input :instruments_own , label: "Instrumentos que possui"%>
      <%= f.input :social , label: "Redes Sociais"%>
      <%= f.input :setlist , label: "Setlist"%>
      <!-- <%= f.input :director, label:"Responsável" %> -->
      <%= f.button :submit, "Editar Artista", :class => "btn-custom2"%>
    <% end %>
  </div>
</div>