<title>Editar | Stage</title>
<div class="col-md-10 col-md-offset-1">
  <div class="new-play-form">
    <h1>Editar Artista</h1>

    <%= simple_form_for @play, html: {multipart: true} do |f| %>
      <%= f.hidden_field :image, value: @play.cached_image_data %>
      <%= f.file_field :image %>
      <%= f.select :category_id, @categories %>
      <%= f.input :title , label: "Nome da banda/artista"%>
      <%= f.input :description, label: "Descrição" %>
      <%= f.input :director, label:"Responsável" %>
      <%= f.button :submit, "Editar Artista", :class => "btn-custom2"%>
    <% end %>
  </div>
</div>