<title>Display | Stage</title>

<div class="row">
  <div class="col-md-4">
    <%= image_tag (url_for(@play.image_url)), class: "play-show" %>
  </div>
  <div class="col-md-8">
    <div class="play-info">
      <h2 class="play-title"><%= @play.title %></h2>
      <h2 class="number-of-reviews">Idade: <%= @play.age %></h2>
      <h4 class="play-director"><%= @play.category.name %></h4>
      <p class="play-desc"><%= @play.description %></p>
      <h4 class="avg-rating">Avaliação média</h4>
      <div class="average-review-rating" data-score=<%= @average_review %>></div>
      <span class="number-of-reviews"><em>De: </em><%= @play.reviews.count %> avaliações </span>
      <h4 class="avg-rating">Instrumentos que toca:</h4>
      <p class="play-desc"><%= @play.intruments_play %></p>
      <h4 class="avg-rating">Instrumentos que possui:</h4>
      <p class="play-desc"><%= @play.instruments_own %></p>
      <h4 class="avg-rating">Redes Sociais:</h4>
      <p class="play-desc"><%= @play.social %></p>
      <h4 class="avg-rating">Setlist:</h4>
      <p class="play-setlist"><%= @play.setlist %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="reviews">
      <h1> Avaliações </h1>
      <%= render @play.reviews %>
      <div>
        <%= link_to "Adicionar avaliações", new_play_review_path(@play), class: "btn-custom" %>
      </div>
    </div>
  </div>
</div>

<div class="links btn-group">
  <% if user_signed_in? %>
    <% if @play.user_id == current_user.id %>
      <%= link_to "Editar Artista", edit_play_path(@play), class: "btn btn-custom" %>
      <%= link_to "Deletar Artista", play_path(@play), method: :delete, data: 
      {confirm: "Você tem certeza?"}, class: "btn btn-custom" %>
    <% end %>
  <% end %>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>