
<h1>Search Results </h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Nome artistico</th>
      <th>Email</th>
      <th>Senha</th>
      <th>Data nascimento</th>
      <th>Endereco</th>
      <th>Numero</th>
      <th>Cep</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Pais</th>
      <th>Telefone</th>
      <th>Biografia</th>
      <th>Salario hora</th>
      <th>Imagens</th>
      <th>Video</th>
      <th>Cpf</th>
      <th>Pontos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupo_musicals.each do |grupo_musical| %>
      <tr>
        <td><%= grupo_musical.nome %></td>
        <td><%= grupo_musical.sobrenome %></td>
        <td><%= grupo_musical.nome_artistico %></td>
        <td><%= grupo_musical.email %></td>
        <td><%= grupo_musical.senha %></td>
        <td><%= grupo_musical.data_nascimento %></td>
        <td><%= grupo_musical.endereco %></td>
        <td><%= grupo_musical.numero %></td>
        <td><%= grupo_musical.cep %></td>
        <td><%= grupo_musical.cidade %></td>
        <td><%= grupo_musical.estado %></td>
        <td><%= grupo_musical.pais %></td>
        <td><%= grupo_musical.telefone %></td>
        <td><%= grupo_musical.biografia %></td>
        <td><%= grupo_musical.salario_hora %></td>
        <td><%= grupo_musical.imagens %></td>
        <td><%= grupo_musical.video %></td>
        <td><%= grupo_musical.cpf %></td>
        <td><%= grupo_musical.pontos %></td>
      </tr>
    <% end %>
  </tbody>
</table>