<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @grupo_musical.nome %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @grupo_musical.sobrenome %>
</p>

<p>
  <strong>Nome artistico:</strong>
  <%= @grupo_musical.nome_artistico %>
</p>

<p>
  <strong>Email:</strong>
  <%= @grupo_musical.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @grupo_musical.senha %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @grupo_musical.data_nascimento %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @grupo_musical.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @grupo_musical.numero %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @grupo_musical.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @grupo_musical.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @grupo_musical.estado %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @grupo_musical.pais %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @grupo_musical.telefone %>
</p>

<p>
  <strong>Biografia:</strong>
  <%= @grupo_musical.biografia %>
</p>

<p>
  <strong>Salario hora:</strong>
  <%= @grupo_musical.salario_hora %>
</p>

<p>
  <strong>Imagens:</strong>
  <%= @grupo_musical.imagens %>
</p>

<p>
  <strong>Video:</strong>
  <%= @grupo_musical.video %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @grupo_musical.cpf %>
</p>

<p>
  <strong>Pontos:</strong>
  <%= @grupo_musical.pontos %>
</p>

<%= link_to 'Edit', edit_grupo_musical_path(@grupo_musical) %> |
<%= link_to 'Back', grupo_musicals_path %>
