<p id="notice"><%= notice %></p>

<h1>Avaliacaos</h1>

<table>
  <thead>
    <tr>
      <th>Avaliacao texto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avaliacaos.each do |avaliacao| %>
      <tr>
        <td><%= avaliacao.avaliacao_texto %></td>
        <td><%= link_to 'Show', avaliacao %></td>
        <td><%= link_to 'Edit', edit_avaliacao_path(avaliacao) %></td>
        <td><%= link_to 'Destroy', avaliacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Avaliacao', new_avaliacao_path %>
