<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @estabelecimento.nome %>
</p>

<p>
  <strong>Nome proprietario:</strong>
  <%= @estabelecimento.nome_proprietario %>
</p>

<p>
  <strong>Email:</strong>
  <%= @estabelecimento.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @estabelecimento.senha %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @estabelecimento.descricao %>
</p>

<p>
  <strong>Capacidade:</strong>
  <%= @estabelecimento.capacidade %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @estabelecimento.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @estabelecimento.numero %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @estabelecimento.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @estabelecimento.estado %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @estabelecimento.pais %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @estabelecimento.cnpj %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @estabelecimento.telefone %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @estabelecimento.imagem %>
</p>

<%= link_to 'Edit', edit_estabelecimento_path(@estabelecimento) %> |
<%= link_to 'Back', estabelecimentos_path %>
